/* styles.css */

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url(https://img.freepik.com/free-photo/beautiful-shot-high-white-hilltops-mountains-covered-fog_181624-399.jpg?w=360) no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 50px; /* Added margin for bottom bar */
}

/* Top bar */
header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  padding: 0 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px; /* Added margin for content separation */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 10px; /* Adjust spacing between pages */
}

.navbar li:last-child {
  margin-right: 0; /* Remove margin for last page */
}

.navbar li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

/* CV Styles */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 5px;
}

/* Bottom bar */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

footer p {
  color: #ffffff;
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  ul {
    margin-left: 15px;
  }

  footer {
    height: 40px;
    padding: 5px;
  }
}
