/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url(https://i.pinimg.com/736x/10/9f/7d/109f7dcfb70d178674c78c8b0372d173--alps-switzerland-microsoft-windows.jpg) repeat-y;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 60px auto;
}

.container h1,
.container h2,
.container h3,
.container p,
.container ul {
  margin: 10px 0;
}

.empty-rows {
  height: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
